
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.firstpage{
    width: 1440px;
    height: 934px ;
    padding-left: -1px;
    padding: 150px, 255px, 150px, 255px

}
ul{
    display: flex ;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    padding: 20px;

}
li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

li a:hover{
    background-color: antiquewhite;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;

}
.heroarro{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    background-color: #F2F2F2;
    width: 100%;
}

.about div{
    
    float: left;
    width: 45%;
    overflow: hidden;

}
.maintext
{
    padding-top: 150px;
    display: flex;
    align-content: center;
    justify-content: center;

}
.horizontal{
        width: 100%; 
        text-align: center; 
        border-bottom: 2px solid #000; 
        line-height: 0.1em;
        margin: 10px 0 20px;
}
h2 span { 
    background:#F2F2F2;
    padding:0 10px; 
}
.hero{

    justify-content: center;
}
.b{
    padding-top: 50px;
    float: left;
    overflow: hidden;
}
.text{
    height: 551px;
    width: 351px;
}
.photo{
    
    height: 300px;
    width: 300px;
    padding-left: 30px;
}