table {
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-items: center;
  }
  
  td, th {
    border: 1px #dddddd;
    text-align: left;
    padding: 8px;
   
  }
 .bt 
 {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0px;
 }
 .bt button{
  padding: 7px 20px;
  background-color: white ;
  color:  rgb(17, 104, 104);
  font-size: 1.5rem;
  box-sizing: border-box;
  border-radius: 5px;

 }
 button:hover{
    background-color: rgb(17, 104, 104);
    color: white;

 }
  th{
    background-color: rgb(17, 104, 104);
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }