table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px #dddddd;
    text-align: left;
    padding: 8px;
    width: 25%;
  }
  tr{
    background-color: aqua;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }